.options-list {
  display: none;
  align-items: center;

  &.show {
    display: inline-flex;
  }

  .edit,
  .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 0;
    margin: 0 5px;
    cursor: pointer;

    i {
      font-size: 0.8rem;
      color: #fff;
    }
  }

  .edit {
    background-color: #34eb58;
    &:hover {
      background-color: darken(#34eb58, 10%);
    }
  }

  .delete {
    background-color: #eb5c34;
    &:hover {
      background-color: darken(#eb5c34, 10%);
    }
  }
}
