.options-list {
  display: none;
  align-items: center;

  &.show {
    display: inline-flex;
  }

  .edit,
  .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 0;
    margin: 0 5px;
    cursor: pointer;

    &:before {
      font-family: $font-icons;
      font-weight: 900;
      font-size: 1rem;
      color: #fff;
    }
  }

  .edit {
    background-color: #34eb58;
    &:before {
      content: "\f044";
    }
    &:hover {
      background-color: darken(#34eb58, 10%);
    }
  }

  .delete {
    background-color: #eb5c34;
    &:before {
      content: "\f2ed";
    }
    &:hover {
      background-color: darken(#eb5c34, 10%);
    }
  }
}
