.box-listagem {
  height: 100%;
  overflow: hidden;
  padding: 0 10px;
  position: relative;

  .msg-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 10px;
    color: $error;
    font-size: 0.8em;
    font-weight: bold;
  }

  .box-list {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-table {
      width: 100%;

      &.empty {
        display: none;
      }

      table {
        border-collapse: collapse;
        overflow: hidden;
        background-color: #fff;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5px;
        box-shadow: inset 0 0 1px 1px #000;

        thead {
          th {
            padding: 15px 10px;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            background-color: $primary-color;

            &:nth-child(1) {
              width: 20%;
            }
          }
        }

        tr:hover {
          background-color: rgba($primary-color, 0.2);
        }

        tr:focus {
          background-color: #ffff9c;
        }

        td {
          padding: 8px 10px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .bottom-table {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px 0;
      width: 100%;
      min-height: 50px;
    }

    .checked {
      font-weight: bold;
    }

    .options-list {
      display: none;
      align-items: center;
      flex-grow: 1;

      &.show {
        display: flex;
      }

      .edit,
      .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 0;
        margin: 0 5px;
        cursor: pointer;

        &:before {
          font-family: $font-icons;
          font-weight: 900;
          font-size: 1rem;
          color: #fff;
        }
      }

      .edit {
        background-color: #34eb58;
        &:before {
          content: "\f044";
        }
        &:hover {
          background-color: darken(#34eb58, 10%);
        }
      }

      .delete {
        background-color: #eb5c34;
        &:before {
          content: "\f2ed";
        }
        &:hover {
          background-color: darken(#eb5c34, 10%);
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;

      .prev,
      .next {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        width: 35px;
        height: 20;
        padding: 5px;
        background-color: $primary-color;

        &:before {
          font-family: $font-icons;
          font-weight: 900;
          color: #fff;
          font-size: 1rem;
        }

        &:not(.no-click) {
          cursor: pointer;

          &:hover {
            background-color: lighten($primary-color, 20%);
          }
        }

        &.no-click {
          opacity: 0.5;
        }
      }

      .prev {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        &:before {
          content: "\f0d9";
        }
      }
      .next {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 1px solid $secondary-color;
        &:before {
          content: "\f0da";
        }
      }
    }
  }

  .box-cadastro {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 10px;
  }

  .box-cadastro-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border: 1px solid #000;
    transition: all 0.3s ease-in-out;
    z-index: 1;

    &.open {
      bottom: 200px;

      .btn-cadastro {
        background-color: lighten($primary-color, 20%);
        transform: rotate(135deg);
      }
    }

    .btn-cadastro {
      position: absolute;
      top: -70px;
      right: 20px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      padding: 10px;
      background-color: $primary-color;
      border-radius: 50%;
      transition: all 0.2s linear;
      cursor: pointer;

      &:hover {
        background-color: lighten($primary-color, 20%);
      }

      span {
        font-size: 0;
        &:before {
          content: "\f067";
          font-family: $font-icons;
          font-weight: 900;
          font-size: 20px;
          color: #fff;
        }
      }
    }

    h3 {
      font-weight: bold;
      font-size: 1.1em;
      padding: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: darken($secondary-color, 10%);
    }

    .box-form {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 10px;
      background-color: #fff;

      .input-title {
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        outline: 0;
        border: 1px solid #000;
        padding: 5px 10px;
        margin-bottom: 2px;
        line-height: 1.5em;
      }

      .msg {
        display: block;
        margin-bottom: 10px;
        font-size: 0.7em;
        color: $error;
      }
    }
  }

  .btn-open {
    display: block;
    font-size: 1em;
    border: 0;
    padding: 10px;
    margin: 0 0 0 auto;
    font-family: $font-base;
    background-color: $primary-color;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: lighten($primary-color, 20%);
    }
  }

  .mask {
    opacity: 0;
    z-index: -1;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s linear;

    &.show {
      opacity: 1;
      z-index: 0;
    }
  }
}
