@import url("https://fonts.googleapis.com/css?family=Baloo|Montserrat&display=swap");
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: initial; }

ul {
  list-style: none; }

/* Base */
html,
body,
#root {
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif; }

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse; }

aside {
  position: relative;
  background-color: #232367; }
  aside .aside-container {
    height: 100%;
    padding: 10px; }
  aside ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden; }
  aside li {
    display: flex;
    align-items: center; }
  aside a {
    display: flex;
    align-items: flex-end;
    font-family: "Baloo", cursive;
    color: #f1f1f1;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 0;
    letter-spacing: 1px;
    font-weight: bold;
    white-space: nowrap; }
    aside a:before {
      content: "";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1.5rem; }
    aside a:hover, aside a:active {
      opacity: 1; }
  aside .menu {
    display: none; }
    aside .menu a {
      font-size: 0; }
      aside .menu a:before {
        content: "\f0c9";
        font-size: 2.5rem; }
  aside .home a:before {
    content: "\f015"; }
  aside .authors a:before {
    content: "\f406"; }
  aside .books a:before {
    content: "\f02d"; }
  aside .search a:before {
    content: "\f00b"; }

main {
  background-color: #f1f1f1;
  flex-grow: 1;
  height: 100%; }
  main h1 {
    text-align: center;
    padding: 20px; }

@media screen and (min-width: 720px) {
  .app-container {
    flex-direction: row; }

  aside {
    width: 60px;
    padding-top: 20px;
    transition: all 0.3s ease-in-out; }
    aside.open {
      width: 200px; }
      aside.open li a {
        font-size: 0.8em; }
    aside ul {
      flex-direction: column;
      align-items: flex-start; }
    aside li {
      flex-grow: 1; }
      aside li a {
        padding-left: 45px;
        line-height: 35px;
        position: relative; }
        aside li a:before {
          position: absolute;
          left: 0;
          font-size: 2rem; }
      aside li.menu {
        display: flex;
        align-items: flex-start;
        flex-grow: 1.5; } }
.box-listagem {
  height: 100%;
  overflow: hidden;
  padding: 0 10px;
  position: relative; }
  .box-listagem .msg-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 10px;
    color: #fc0000;
    font-size: 0.8em;
    font-weight: bold; }
  .box-listagem .box-list {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .box-listagem .box-list .list-table {
      width: 100%; }
      .box-listagem .box-list .list-table.empty {
        display: none; }
      .box-listagem .box-list .list-table table {
        border-collapse: collapse;
        overflow: hidden;
        background-color: #fff;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5px;
        box-shadow: inset 0 0 1px 1px #000; }
        .box-listagem .box-list .list-table table thead th {
          padding: 15px 10px;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 1px;
          background-color: #232367; }
          .box-listagem .box-list .list-table table thead th:nth-child(1) {
            width: 20%; }
        .box-listagem .box-list .list-table table tr:hover {
          background-color: rgba(35, 35, 103, 0.2); }
        .box-listagem .box-list .list-table table tr:focus {
          background-color: #ffff9c; }
        .box-listagem .box-list .list-table table td {
          padding: 8px 10px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          text-align: center;
          cursor: pointer; }
    .box-listagem .box-list .bottom-table {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px 0;
      width: 100%;
      min-height: 50px; }
    .box-listagem .box-list .checked {
      font-weight: bold; }
    .box-listagem .box-list .options-list {
      display: none;
      align-items: center;
      flex-grow: 1; }
      .box-listagem .box-list .options-list.show {
        display: flex; }
      .box-listagem .box-list .options-list .edit,
      .box-listagem .box-list .options-list .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 0;
        margin: 0 5px;
        cursor: pointer; }
        .box-listagem .box-list .options-list .edit:before,
        .box-listagem .box-list .options-list .delete:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 1rem;
          color: #fff; }
      .box-listagem .box-list .options-list .edit {
        background-color: #34eb58; }
        .box-listagem .box-list .options-list .edit:before {
          content: "\f044"; }
        .box-listagem .box-list .options-list .edit:hover {
          background-color: #15d73b; }
      .box-listagem .box-list .options-list .delete {
        background-color: #eb5c34; }
        .box-listagem .box-list .options-list .delete:before {
          content: "\f2ed"; }
        .box-listagem .box-list .options-list .delete:hover {
          background-color: #d73f15; }
    .box-listagem .box-list .pagination {
      display: flex;
      align-items: center; }
      .box-listagem .box-list .pagination .prev,
      .box-listagem .box-list .pagination .next {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        width: 35px;
        height: 20;
        padding: 5px;
        background-color: #232367; }
        .box-listagem .box-list .pagination .prev:before,
        .box-listagem .box-list .pagination .next:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: #fff;
          font-size: 1rem; }
        .box-listagem .box-list .pagination .prev:not(.no-click),
        .box-listagem .box-list .pagination .next:not(.no-click) {
          cursor: pointer; }
          .box-listagem .box-list .pagination .prev:not(.no-click):hover,
          .box-listagem .box-list .pagination .next:not(.no-click):hover {
            background-color: #3d3db3; }
        .box-listagem .box-list .pagination .prev.no-click,
        .box-listagem .box-list .pagination .next.no-click {
          opacity: 0.5; }
      .box-listagem .box-list .pagination .prev {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
        .box-listagem .box-list .pagination .prev:before {
          content: "\f0d9"; }
      .box-listagem .box-list .pagination .next {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 1px solid #f1f1f1; }
        .box-listagem .box-list .pagination .next:before {
          content: "\f0da"; }
  .box-listagem .box-cadastro {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 10px; }
  .box-listagem .box-cadastro-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border: 1px solid #000;
    transition: all 0.3s ease-in-out;
    z-index: 1; }
    .box-listagem .box-cadastro-container.open {
      bottom: 200px; }
      .box-listagem .box-cadastro-container.open .btn-cadastro {
        background-color: #3d3db3;
        transform: rotate(135deg); }
    .box-listagem .box-cadastro-container .btn-cadastro {
      position: absolute;
      top: -70px;
      right: 20px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      padding: 10px;
      background-color: #232367;
      border-radius: 50%;
      transition: all 0.2s linear;
      cursor: pointer; }
      .box-listagem .box-cadastro-container .btn-cadastro:hover {
        background-color: #3d3db3; }
      .box-listagem .box-cadastro-container .btn-cadastro span {
        font-size: 0; }
        .box-listagem .box-cadastro-container .btn-cadastro span:before {
          content: "\f067";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 20px;
          color: #fff; }
    .box-listagem .box-cadastro-container h3 {
      font-weight: bold;
      font-size: 1.1em;
      padding: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #d8d8d8; }
    .box-listagem .box-cadastro-container .box-form {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 10px;
      background-color: #fff; }
      .box-listagem .box-cadastro-container .box-form .input-title {
        display: block;
        margin-bottom: 10px; }
      .box-listagem .box-cadastro-container .box-form input {
        width: 100%;
        outline: 0;
        border: 1px solid #000;
        padding: 5px 10px;
        margin-bottom: 2px;
        line-height: 1.5em; }
      .box-listagem .box-cadastro-container .box-form .msg {
        display: block;
        margin-bottom: 10px;
        font-size: 0.7em;
        color: #fc0000; }
  .box-listagem .btn-open {
    display: block;
    font-size: 1em;
    border: 0;
    padding: 10px;
    margin: 0 0 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: #232367;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer; }
    .box-listagem .btn-open:hover {
      background-color: #3d3db3; }
  .box-listagem .mask {
    opacity: 0;
    z-index: -1;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s linear; }
    .box-listagem .mask.show {
      opacity: 1;
      z-index: 0; }

/*# sourceMappingURL=index.css.map */
